@import '~bootstrap/scss/bootstrap';

// HEADER -------------------------
// navbar


.ms_navbar {
    background-color: #212121;
}

.ms_sidebar {
    background-color: #212121;
}

.ms_admin-content {
    background-color: #484848;
}

.ms_card-container {
    background-color: #eeeeee;
}

.btn-crud-1,
.btn-crud-2 {
    width: 48%;

    @media screen and (max-width: 992px) {
        width: 100%;
    }
}

.btn-crud-3 {
    width: 100%;
}

.errors {
    ul {
        list-style-type: none;
    }
}

.show-img {
    max-width: 100%;
    max-height: 40vh;
}